kiteconnect
python-dotenv
websockets
requests>=2.31.0
urllib3>=2.0.0
pytz
selenium
pyotp
supabase
webdriver-manager 
dnspython==2.2.1
flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
gevent==23.9.1
gevent-websocket==0.10.1
gunicorn==21.2.0
